<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Novarquitec - Alternative Desing Concept</title>

    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css"
        integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/alternativeStyles.css">
</head>

<body>
    <header id="header">
        <div class="container">
            <a href="#" class="logo">
                <img src="../public/img/logo.png" alt="" class="img-fluid">
            </a>
            <ul class="menu">
                <li class="menu_item">
                    <a href="/#hero" class="menu_link">Home</a>
                </li>
                <li class="menu_item">
                    <a href="/#about" class="menu_link">Conocenos</a>
                </li>
                <li class="menu_item">
                    <a href="/#services" class="menu_link">Servicios</a>
                </li>
                <li class="menu_item">
                    <a href="/portafolio" class="menu_link">Portafolio</a>
                </li>
                <li class="menu_item">
                    <a href="/#contacto" class="menu_link">Contacto</a>
                </li>
                <ion-icon name="close-outline" class="close_icon"></ion-icon>
            </ul>
            <ion-icon name="menu-outline" class="toggle_icon"></ion-icon>
        </div>
    </header>
    <main>
        <!--Home section-->

        <section class="hero section" id="hero">
            <div class="full-container">

                <div class="hero_container container grid">
                    <div class="hero_content">

                        <h4> Bienvenidos a Novarquitec</h4>
                        <h1>Somos <span class="typed" data-typed-items=", Diseño, Creatividad, Familia, Innovación">

                            </span></h1>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde minima voluptates
                            necessitatibus non eos. Beatae facilis libero laborum impedit est? Hic quae quod
                            soluta
                            laudantium tenetur vitae cupiditate dolores tempore?
                        </p>
                        <div class="hero_social">
                            <a href="https://www.instagram.com/novarquitec.sas/"><ion-icon
                                    name="logo-instagram"></ion-icon></a>
                            <a href="https://www.facebook.com/profile.php?id=100054400695155&mibextid=ZbWKwL"><ion-icon
                                    name="logo-facebook"></ion-icon></a>
                            <a href="mailto:novarquitec@hotmail.com"><ion-icon name="mail-outline"></ion-icon></a>
                            <a
                                href="https://wa.me/573186932501?text=Me%20interesa%20solicitar%20mi%20cotizacion%20con%20Novarquitec"><ion-icon
                                    name="logo-whatsapp"></ion-icon>
                            </a>

                        </div>
                        <a href="#contact" class="btn">Read more
                            <ion-icon name="arrow-forward-outline"></ion-icon>
                        </a>
                    </div>
                    <div class="hero_img">
                        <img src="../public/img/collage.png" alt="" class="img-fluid">
                    </div>
                </div>

            </div>
        </section>

        <!--About section-->
        <section class="about section mrg-bottom" id="about">
            <h2 class="section_title">Quienes somos?</h2>
            <div class="about_container container grid">
                <div class="about_img">
                    <img src="../public/img/planosSinFondo.gif" class="responsive-img" alt="">
                </div>
                <div class="about_content">
                    <h1>Misión</h1>
                    <p>NOVARQUITEC SAS, es una sociedad comercial que se rige en los principios de economía,
                        eficacia, efectividad, responsabilidad y transparencias en las actividades propias del
                        desarrollo de su objeto social, es así, en que a través de la planeación, diseño,
                        construcción de obra civiles y/o arquitectónica, pretende responder a las necesidades
                        capacidades de los destinatarios de sus servicios.
                        En consecuencia hacemos de la construcción y diseño las más efectivas herramientas para que
                        el bienestar de las personas naturales y jurídicas sean una realidad.</p>
                    <h1>Vision</h1>
                    <p>
                        NOVARQUITEC SAS, mediante la ejecución de sus actividades comerciales, se posicionará dentro
                        de su área de mercado como una empresa vanguardista, proactiva e innovadora del diseño y la
                        construcción de Colombia y el mundo.
                    </p>

                    <div class="about_info">
                        <div>
                            <span class="number">999</span>
                            <br>
                            <span class="text">Completed <br>projects</span>
                        </div>
                        <div>
                            <span class="number">999</span>
                            <br>
                            <span class="text">Positive <br>reviews</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--Servise section-->
        <section class="about section" id="services">


            <!--Start Carrousel-->
            <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../public/img/carrusel1.jpeg" alt="">
                        <div class="container">
                            <div class="carousel-caption text-start">
                                <h1>Example headline.</h1>
                                <p>Some representative placeholder content for the first slide of the carousel.</p>
                                <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="../public/img/carrusel2.jpeg" alt="">
                        <div class="container">
                            <div class="carousel-caption">
                                <h1>Another example headline.</h1>
                                <p>Some representative placeholder content for the second slide of the carousel.</p>
                                <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="../public/img/carrusel3.jpeg" alt="">
                        <div class="container">
                            <div class="carousel-caption text-end">
                                <h1>One more for good measure.</h1>
                                <p>Some representative placeholder content for the third slide of this carousel.</p>
                                <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <!--End Carrousel-->
            <h2 class="section_title">Nuestros Servicios</h2>
            <!--Services description-->
            <div class="container">
                <hr class="featurette-divider">

                <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading fw-normal lh-1">Diseños <span class="text-muted">Urbanísticos,
                                Arquitectónicos, esctructurales y civil</span></h2>
                        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus cum
                            dignissimos voluptatum corrupti nemo praesentium ad odio autem sunt odit? Doloremque
                            perferendis obcaecati eum, blanditiis explicabo odit quisquam asperiores ullam.</p>
                    </div>
                    <div class="col-md-5">
                        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                            width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img"
                            aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa"
                                dy=".3em">500x500</text>
                        </svg>
                    </div>
                </div>

                <hr class="featurette-divider">

                <div class="row featurette">
                    <div class="col-md-7 order-md-2">
                        <h2 class="featurette-heading fw-normal lh-1">Reformas y <span
                                class="text-muted">Remodelaciones</span></h2>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio in ab,
                            accusantium corporis voluptates, iure deserunt, aperiam omnis perspiciatis quaerat
                            architecto vero necessitatibus illum delectus ipsam dolorum molestiae aut error.</p>
                    </div>
                    <div class="col-md-5 order-md-1">
                        <img src="../public/img/ServicioRemodelacion.jpeg" alt="" class="srv-img">

                    </div>
                </div>

                <hr class="featurette-divider">

                <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading fw-normal lh-1">Construcción<span class="text-muted"> de
                                Carpintería y estructuras metálicas</span></h2>
                        <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga assumenda
                            expedita inventore ullam sint ratione similique aliquid ducimus, tenetur est in earum
                            doloribus itaque dolore accusamus quas incidunt magni excepturi.</p>
                    </div>
                    <div class="col-md-5">
                        <!--Start Carrousel-->

                        <div class="slider-frame">
                            <ul>
                                <li><img src="../public/img/ServicioCarpinteria.jpeg" alt=""></li>
                                <li><img src="../public/img/ServicioImpermeabilizacion.jpeg" alt=""></li>
                            </ul>
                        </div>

                        <!--End Carrousel-->
                    </div>


                </div>

                <hr class="featurette-divider">

                <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading fw-normal lh-1">Inventoría</h2>
                        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia rerum
                            porro ea excepturi, modi molestiae adipisci consequuntur assumenda? Quo, recusandae.
                            Quaerat iusto unde mollitia ea, veniam similique esse quod illo?</p>
                    </div>
                    <div class="col-md-5">
                        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                            width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img"
                            aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa"
                                dy=".3em">500x500</text>
                        </svg>
                    </div>
                </div>

                <hr class="featurette-divider">

                <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading fw-normal lh-1">Aplicación de Sistemas Livianos de
                            Construcción<span class="text-muted"> como Panel, Yeso, Durock y Similares</span></h2>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis repellat
                            quam itaque at officiis explicabo ducimus neque minus iusto, amet voluptas aliquid
                            repellendus dignissimos, sapiente cupiditate? Totam provident minima assumenda.</p>
                    </div>
                    <div class="col-md-5">
                        <img src="../public/img/ServicioLiviano.jpeg" alt="" class="srv-img">
                    </div>
                </div>

                <hr class="featurette-divider">

                <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading fw-normal lh-1">Impermeabilización</h2>
                        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio nemo
                            accusamus fugit, atque eligendi dicta odit, quidem ducimus eos ullam vero consequatur ex
                            quos illo ipsa quas. Velit, provident enim?</p>
                    </div>
                    <div class="col-md-5">
                        <img src="../public/img/ServicioImpermeabilizacion.jpeg" alt="" class="srv-img">
                    </div>
                </div>

                <hr class="featurette-divider">

                <!-- /END THE FEATURETTES -->

            </div><!-- /.container -->

        </section>

        <!--Contact Section-->
        <section class="section" id="contacto">
            <h2 class="section_title">Contactanos</h2>
            <div class="contact-wrap">
                <div class="contact-in">
                    <div class="blur-img">
                        <h1>Información de Contacto</h1>
                        <h2><ion-icon name="call"></ion-icon><span>Teléfono</span></h2>
                        <p>+57 318 6932501</p>
                        <h2><ion-icon name="mail"></ion-icon><span>Email</span></h2>
                        <p>novarquitec@hotmail.com</p>
                        <h2><ion-icon name="location"></ion-icon><span>Dirección</span></h2>
                        <p>Edificio Gedeon, Cra 8 Calle 32, Cartagena, Colombia</p>
                        <ul>
                            <li><a href="https://www.facebook.com/profile.php?id=100054400695155&mibextid=ZbWKwL"><ion-icon
                                        name="logo-facebook"><ion-icon name="logo-facebook"></ion-icon></a></li>
                            <li><a href="https://www.instagram.com/novarquitec.sas/"><ion-icon
                                        name="logo-instagram"></ion-icon></a></li>
                            <li><a
                                    href="https://wa.me/573186932501?text=Me%20interesa%20solicitar%20mi%20cotizacion%20con%20Novarquitec"><ion-icon
                                        name="logo-whatsapp"></ion-icon></a></li>

                        </ul>
                    </div>
                </div>
                <div class="contact-in">
                    <h1>Solicita tu cotización</h1>
                    <form>
                        <input type="text" class="contact-in-input" placeholder="Nombre">
                        <input type="text" class="contact-in-input" placeholder="Email">
                        <input type="text" class="contact-in-input" placeholder="Teléfono">
                        <textarea placeholder="Mensaje" class="contact-in-textarea"></textarea>
                        <input type="submit" value="SUBMIT" class="contact-in-btn">
                    </form>
                </div>
                <div class="contact-in">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d598.6895892275173!2d-75.54825732937113!3d10.423180908613334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef62f9e35c8a7fd%3A0xa1d793ab876b2886!2sEdificio-Gedeon!5e0!3m2!1ses!2sca!4v1678327436766!5m2!1ses!2sca"
                        width="100%" height="auto" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </section>


    </main>

    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="../public/scripts/main.js"></script>
</body>

</html>