<!--Include header-->
<%- include ('partials/header') -%>
    <!--Close header-->

    <!--Include NavBar-->
    <%- include ('partials/navegacion') -%>
        <!--Close NavBar-->

        <main>
            <section class="hero section" id="hero">
                <div class="hero_container container grid">
                    <div class="hero_content">
                        <h4> Bienvenidos a Novarquitec</h4>
                        <h1>Somos <span class="typed" data-typed-items=", Diseño, Innovación, Familia, Profesionales">

                            </span></h1>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde minima voluptates
                            necessitatibus non eos. Beatae facilis libero laborum impedit est? Hic quae quod soluta
                            laudantium tenetur vitae cupiditate dolores tempore?
                        </p>
                        <div class="hero_social">
                            <a href="https://www.instagram.com/novarquitec.sas/"><ion-icon
                                    name="logo-instagram"></ion-icon></a>
                            <a href=""><ion-icon name="logo-facebook"></ion-icon></a>
                            <a href="mailto:whrodriguezz04@gmail.com"><ion-icon name="mail-outline"></ion-icon></a>

                        </div>
                        <a href="#contact" class="btn">Read more
                            <ion-icon name="arrow-forward-outline"></ion-icon>
                        </a>
                    </div>
                    <div class="hero_img">
                        <img src="img/edificio1.png" alt="" class="img-fluid">
                    </div>
                </div>
            </section>
        </main>
        <!--Include footer-->
        <%- include('partials/footer') %>
            <!--Close footer-->