<header id="header">
    <div class="container">
        <a href="#" class="logo">
            <img src="img/logo.png" alt="" class="img-fluid">
        </a>
        <ul class="menu">
            <li class="menu_item">
                <a href="/#home" class="menu_link active_link">Home</a>
            </li>
            <li class="menu_item">
                <a href="/#conocenos" class="menu_link">Conocenos</a>
            </li>
            <li class="menu_item">
                <a href="/#servicios" class="menu_link">Servicios</a>
            </li>
            <li class="menu_item">
                <a href="/portafolio" class="menu_link">Portafolio</a>
            </li>
            <li class="menu_item">
                <a href="/#contacto" class="menu_link">Contacto</a>
            </li>
            <ion-icon name="close-outline" class="close_icon"></ion-icon>
        </ul>
        <ion-icon name="menu-outline" class="toggle_icon"></ion-icon>
    </div>
</header>